.flows.json.backup
[
    {
        "id": "354ee496cf07a94b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ee7c5069bd10647",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ff29dd58383c62e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c129a70fbffd9a84",
        "type": "http in",
        "z": "354ee496cf07a94b",
        "name": "Receive Telemetry",
        "url": "/api/sensor",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "aee9617e26f99e58",
                "683f8dcc0b3de52d"
            ]
        ]
    },
    {
        "id": "683f8dcc0b3de52d",
        "type": "http response",
        "z": "354ee496cf07a94b",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "aee9617e26f99e58",
        "type": "debug",
        "z": "354ee496cf07a94b",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "c512c8e6a8c95b63",
        "type": "http in",
        "z": "6ee7c5069bd10647",
        "name": "Receive Telemetry",
        "url": "/api/sensor",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "6eef47cdb3d31550",
                "d894fb559c96d2c9"
            ]
        ]
    },
    {
        "id": "d894fb559c96d2c9",
        "type": "function",
        "z": "6ee7c5069bd10647",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            [
                "b1597efb8dddb377"
            ]
        ]
    },
    {
        "id": "b1597efb8dddb377",
        "type": "http response",
        "z": "6ee7c5069bd10647",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "6eef47cdb3d31550",
        "type": "debug",
        "z": "6ee7c5069bd10647",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "d660f588e1f02779",
        "type": "http response",
        "z": "8ff29dd58383c62e",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "090b06cac0738531",
        "type": "http in",
        "z": "8ff29dd58383c62e",
        "name": "Receive Telemetry",
        "url": "/api/sensor",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "cfea80f83e11ac1c",
                "bce1de54e4355ebe"
            ]
        ]
    },
    {
        "id": "bce1de54e4355ebe",
        "type": "function",
        "z": "8ff29dd58383c62e",
        "name": "function 2",
        "func": "msg.ip = msg.req.socket.remoteAddress;\nmsg.contentType = msg.req.headers[\"content-type\"];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 100,
        "wires": [
            [
                "d660f588e1f02779"
            ]
        ]
    },
    {
        "id": "cfea80f83e11ac1c",
        "type": "debug",
        "z": "8ff29dd58383c62e",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 240,
        "wires": []
    }
]